<%= form_for(experiment) do |f| %>
  <% if experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> <!--- if errors --->
<form role="form">
  <div class="field form-group">
    <!-- <label for="language">Please select which language you are working with</label>
    <input type="text_field" id="language" name="language" class="form-control" placeholder="Ent" /> -->
    <%= f.label :language %>
    <%= f.text_field :language, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <!-- <label for="primary">Is this experiment starting from a new definition, or are you forking an existing one ?</label>
    <input class="checkbox-inline" type="checkbox" id="primary" name="primary" class="form-control" /> -->
    <%= f.label :primary %><%= f.check_box :primary, class: 'form-control', type: 'checkbox-inline' %>
  </div>

  <div class="form-group">
    <!-- <label for="configuration">Experiment Configuration</label>
    <input type="textarea" id="configuration" name="configuration" class="form-control"/> -->
    <%= f.label :configuration %>
    <%= f.text_area :configuration, class: 'form-control' %>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>

<% end %>
